/*This belongs to my personal website*/
/*css by Alejandro Morales*/
/*font-family: 'Codystar', cursive;
font-family: 'Monoton', cursive;*/
*{
	box-sizing: border-box;
}

ul {

	list-style-type: none;
	padding:0;
}

body {
	border: 1px solid #404040;
	border-radius: 4px;
	width: 90%;
	margin: auto;
	padding: 4px;
	background: #282828;
	font-size: 14pt;
	font-family: Codystar, cursive, sans-serif;
	color: white;
}

/*header */

header h1{
	margin: 0.3% auto;
	text-align: center;
	font-family: Codystar, cursive, sans-serif;
	line-height: 0.9em;
	font-size: 3rem;
	color: green;
	background-color: #303030;
	max-width: 360px;
	border: 1px solid #404040;
	border-radius: 4px;
}

h2 {
	margin: auto;
	background-color: #202020;
	font-size: 1rem;
	border-bottom: 1px solid #404040;
	border-top: 1px solid #404040;
	border-radius: 4px;
	padding: 2px 4px 2px 4px;
	/*font-weight: bold;*/
}

header h2 {
	text-align: center;
}

img {
	display: block;
	margin: auto;
	max-width: 15%;
	min-width:150px;
	padding: 4px;
	border: 1px solid #404040;
	border-radius: 50%;

}

/*articles*/
.content {
width: auto;
}

.article {
	display: inline-block;
	float: left;
	max-width: 33%;
	min-width: 33%;
	border: 1px solid #404040;
	border-radius: 4px;
	font-size: 0.9rem;
	padding:2px 4px 2px 4px;
	background-color: #303030;
}

.article h2 {
	display: block;
}

@media screen and (max-width: 900px){
	.article{
		max-width: 50%;
		min-width: 50%;
	}

}

@media screen and (max-width: 600px), (device-width: 320px) {
	body {
		font-size: 14px;
	}

	header h1{
		max-width: 100%;
		font-size: 2rem;
	}
	.article {
		max-width: 100%;
		float: none;
		display: block;
		left: 0;
		top: 0;
		}	
}

articles {
	display: inline-block;
	width: 32%;
	/*min-width: 312px;*/
	min-height: 70px;
	margin: 0.2% 0.2%;
	float: left;
	overflow: hidden;
	padding:2px 4px 2px 4px;
	background-color: #303030;
	border: 1px solid #404040;
	border-radius: 4px;
	font-size: 0.9rem;
}



.clear {
	clear: both;
	margin: 0;
	padding: 0;
}

/* Footer */
footer p {
	margin: 0;
	padding: 5px;
}
footer {
	background-color: #505050;
	border: 1px solid #404040;
	border-radius: 4px;
	color: black;
}