/* First CSS handwritten by Alejandro Morales */

body {background-color: #230b03;}
#articles {background-color: #ffffff;}

hr {
	color: black;
	background-color: #ffffff; 
}

header {
	color: #ffffff; 
	font-family: futura; 
	font-size: 40px
}

a { 
	color: #cebb99;
	text-decoration:none;
	font-family:times; 
	font-size: 18px; 
	font-weight:normal; 
}

a:hover {
	color: #a4a4a4;
}

h1 {color: #230b03;
	
	font-family:tahoma; 
	font-size: 18px;
	font-weight:bold;
}

p {
	font-family:times; 
	font-size: 18px;
	font-weight:normal;
}
footer {
	 color: #cebb99;
	font-family: times; 
	font-size: 18px;
}
