/* First CSS handwritten by Alejandro Morales. It styles the caffee site */


body {background-color: #230b03;}
#articles {background-color: #ffffff;}
#dream {color:#cebb99;font-family: 'Vibur', cursive;}
#beanscaffee {font-family: 'Fjalla One', sans-serif; color:#ffffff;}
hr {
	color: black;
	background-color: #ffffff; 
}

#header {
	font-size: 40pt
}

a { 
	color: #cebb99;
	text-decoration:none;
	font-family:times; 
	font-size: 18pt; 
	font-weight:normal; 
}

a:hover {
	color: #a4a4a4;
}

h1 {color: #230b03;
	
	font-family:'Fjalla One', sans-serif; 
	font-size: 18pt;
	font-weight:bold;
}

p {
	font-family:times; 
	font-size: 18pt;
	font-weight:normal;
}
footer {
	 color: #cebb99;
	font-family: times; 
	font-size: 18pt;
}
